*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: unset;
}
.header{
    width: 100%;
    padding: 32px;
}
body{
    padding: 0 auto;
}
.navbar{
    width:620px;
    margin: 25px auto;
    background: rgba(0, 0, 0, 0.0001);}

.li{

display: inline-block;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;

/* or 100% */
/* align-items: center; */
letter-spacing: 2.7px;
text-transform: uppercase;
color: #FF0000;
margin-right: center;
padding-right: 72px;
}

li:last-child{padding-right: 0;}

.link{color: red;}

.img{
width: 100%;
height: 789px;
background-color: #fff;    
background-image: url("img.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.info{
    width: auto;
    padding-top: 48px;
    padding-bottom: 38px;
    text-align: center;

}

.stl{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

letter-spacing: 3.3px;
text-transform: uppercase;

color: #373737;

}

.txt1{
    ont-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

/* or 162% */
text-align: center;
letter-spacing: 2.4px;
padding-bottom: 28px;
margin:0 68px;
color: #373737;
}

.txt2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

/* or 162% */
text-align: center;
letter-spacing: 2.4px;

color: #373737;
margin:0 68px;

}

.btn {
    border: none;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 66px auto;
    display: block;
}